@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;500;600&family=Bellefair&display=swap');


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     --blue-900: #0B0D17;
     --blue-300: #D0D6F9;
     --white: #FFFFFF;
}
body{
     color: white;
}
/* .home-sweet-home--CSS */

.home-sweet-home{
     background-image: url("../../assets/home/background-home-mobile.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
}

/* Heading--CSS */

.header{
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 30px;
}
.header .star {
     width: 45px;
}
.nav-container{
     position: relative;
}
.nav{
     position: relative;
     right: auto;
     display: flex;
     justify-content: center;
     gap: 55px;
     background-color: rgba(255, 255, 255, 0.1);
     padding: 40px 40px 40px 85px;
}
.nav li{
     list-style: none;
     font-family: "Barlow Condensed", serif;
     font-size: 20px;
     font-weight: 200;
     cursor: pointer;
     position: relative;
}
.nav li .spann{
     font-weight: 400;
     margin-right: 8px;
}
.nav li a{
     text-decoration: none;
     color: white;
}
.nav .inner-nav::after {
     content: "";
     position: absolute;
     width: 110%;
     height: 4px;
     background: var(--white);
     left: 0;
     bottom: -40px;
     transition: opacity 0.3s;
     border-radius: 5px;
     opacity: 0;
}

.nav .active::after {
     opacity: 1;
}

.nav .inner-nav:not(.active):hover::after{
     opacity: 0.6;
}
.menu{
     cursor: pointer;
     z-index: 2000;
}
@media (max-width: 768px) {
     .nav {
          flex-direction: column;
          justify-content: start;
          gap: 30px;
          position: fixed;
          width: 70%;
          height: 100vh;
          right: -70%;
          top: 0;
          z-index: 1000;
          padding: 120px 30px 0;
          font-weight: 600;
          color: var(--color-VeryDarkBlue);
          transition: right 1s;
          backdrop-filter: blur(30px);
          -webkit-backdrop-filter: blur(30px);
     }
     .nav .inner-nav::after {
          width: 3.5px;
          height: 20px;
          left: 110%;
          bottom: 0px;
          transition: opacity 0.3s;
          opacity: 0;
     }
     .nav .inner-nav:not(.active):hover::after {
          opacity: 0.6;
     }
     .nav .inner-nav.active::after{
          opacity: 1;
     }

     .active-nav {
          right: 0;
     }
}

@media(min-width: 500px) and (max-width: 768px) {
     .nav li::after {
          left: 105%;
     }
}

/* description--css(section-1) */

.description{
     text-align: center;
     margin: 30px 15px;
}
.description h4{
     font-family:"Barlow Condensed", serif;
     font-weight: 300;
     font-size: 20px;
     letter-spacing: 1.5px;
}
.description h1{
     font-family: "Bellefair", serif;
     font-weight: 400;
     font-size: 85px;
     margin: 30px 0;
}
.description p{
     font-family: "Barlow", serif;
     font-weight: 100;
     font-size: 16px;
     line-height: 2;
}


/* button-container--CSS(section-2) */


.button-container{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     margin-top: 170px;
}
.explore{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 150px;
     height: 150px;
     background-color: var(--white);
     border-radius: 50%;
     color: var(--blue-900);
     font-family: "Bellefair", serif;
     font-size: 20px;
     z-index: 100;
     cursor: pointer;
     margin-bottom: 170px;
}
.overlay{
     background-color: rgba(255, 255, 255, 0.1);
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 380px;
     height: 380px;
     border-radius: 50%;
}

/* Media quetry for tab */

@media(min-width:769px){

     /* .home-sweet-home--CSS */

     .home-sweet-home {
          background: url("../../assets/home/background-home-tablet.jpg");
          background-size: cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
     }
     .header {
          padding: 0;
     }
     .header .star {
          width: 55px;
          margin-left: 40px;
     }
     .menu{
          display: none;
     }
     .nav-container {
          display: block;
     }

     /* description--css(section-1) */

     .description {
          margin: 140px 60px 30px;
     }
     .description h4 {
          font-size: 40px;
     }
     .description h1 {
          font-size: 170px;
     }
     .description p {
          font-size: 20px;
     }

     /* button-container--CSS(section-2) */

     .button-container {
          margin: 50px 0 120px;
     }
     .explore {
          width: 300px;
          height: 300px;
          font-size: 36px;
     }
     .overlay {
          width: 480px;
          height: 480px;
     }
}

/* Media quetry for desktop */

@media(min-width: 1024px){
     .home-sweet-home {
          background-image: url("../../assets/home/background-home-desktop.jpg");
          background-size: cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
     }
     .header{
          padding-top: 40px;
     }
     .header .star {
          margin-left: 80px;
     }
     main{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 100px;
          margin-right: 100px;
     }

     /* description--css(section-1) */

     .description {
          text-align: left;
          margin: 200px 180px 140px 0;
     }

     .description h4 {
          font-size: 24px;
     }

     .description h1 {
          font-size: 140px;
     }

     /* button-container--CSS(section-2) */

     .button-container {
          margin: 0;
     }

     .explore {
          font-size: 30px;
          width: 250px;
          height: 250px;
     }

     .overlay {
          width: 400px;
          height: 400px;
     }
}
