@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600&family=Barlow:wght@100;200;300;400;500;600&family=Bellefair&display=swap');


:root {
     --blue-900: #0B0D17;
     --blue-300: #D0D6F9;
     --white: #FFFFFF;
}

.final-destination{
     background: url("../../assets/destination/background-destination-mobile.jpg");
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
}

/*SectionOne---CSS (destination-sec-one--CSS) */

.destination-sec-one{
     margin: 30px 0 50px;
}
.destination-sec-one h1{
     font-family: "Barlow Condensed", serif;
     font-weight: 300;
     font-size: 20px;
     letter-spacing: 3px;
     text-align: center;
}
.destination-sec-one span{
     margin-right: 20px;
     font-weight: 600;
     color: var(--blue-300);
     opacity: 0.3;
}
.main{
     display: flex;
     justify-content: center;
}
.destination-sec-one .img-container{
     margin-top: 60px;
     text-align: center;
     width: 190px;
     height: auto;
}
.destination-sec-one .img-container img{
     max-width: 100%;
     max-height: 100%;
}


/* SectionTwo---CSS () */

.bloc-tabs{
     display: flex;
     justify-content: center;
     gap: 30px;
     position: relative;
}
.bloc-tabs .planets{
     font-size: 20px;
     font-weight: 300;
     font-family: "Barlow Condensed", serif;
     margin-bottom: 20px;
     letter-spacing: 1.5px;
}
.bloc-tabs li{
     list-style: none;
}
.bloc-tabs .planets{
     position: relative;
     cursor: pointer;
}
.bloc-tabs .inner-tab::after{
     content: "";
     position: absolute;
     width: 110%;
     height: 4px;
     background: var(--white);
     left: 0;
     bottom: -16px;
     transition: opacity 0.5s;
     opacity: 0;
}
.bloc-tabs .inner-tab:not(.active-tabs):hover::after {
     opacity: 50%;
}
.planet-description{
     text-align: center;
}
.planet-description h1{
     font-family: "Bellefair", serif;
     font-size: 56px;
     font-weight: 300;
     letter-spacing: 3px;
     margin-top: 15px;
}
.planet-description p{
     padding: 20px 20px 30px;
     font-family: "Barlow",  serif;
     font-size: 18px;
     font-weight: 200;
     line-height: 1.5;
}
.horizontal{
     display: flex;
     justify-content: center;
}
hr{
     width: 90%;
     opacity: 50%;
}
.physics-info{
     text-align: center;
     padding: 10px 0 20px;
}
.physics-info h2{
     padding: 16px;
     font-family: "Barlow Condensed", serif;
     font-size: 20px;
     font-weight: 200;
     letter-spacing: 2.5px;
}
.physics-info p{
     font-family: "Bellefair", serif;
     font-size: 40px;
     font-weight: 100;
}
.physics-info .time h2{
     margin-top: 20px;
}
.bloc-tabs .active-tabs::after{
     opacity: 1;
}
.universe-tabs{
     display: none;
}
.active-content{
     display: block;
}

@media(min-width:768px){
     .final-destination {
          background: url("../../assets/destination/background-destination-tablet.jpg");
          background-size: cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
     }
     .destination-sec-one h1 {
          text-align: left;
          padding-left: 50px;
     }
     .destination-sec-one .img-container {
          width: 300px;
          margin-bottom: 60px;
     }
     .bloc-tabs .planets {
          font-size: 16px;
          font-weight: 100;
          margin-bottom: 20px;
          letter-spacing: 2px;
     }
     .planet-description h1 {
          font-size: 78px;
     }
     .planet-description p {
          padding: 20px 135px 30px;
          font-size: 16px;
          font-weight: 100;
     }
     .physics-info {
          display: flex;
          justify-content: center;
          gap: 130px;
          padding-bottom: 40px;
     }
     hr{
          width: 66%;
     }
     .physics-info .time h2 {
          margin-top: 0;
     }
     .physics-info h2 {
          font-size: 14px;
     }
     .physics-info p {
          font-size: 28px;
     }
}
@media(min-width: 1024px) {
     .final-destination {
          background: url("../../assets/destination/background-destination-desktop.jpg");
          background-size: cover;
          background-attachment: fixed;
          background-repeat: no-repeat;
     }
     .destination-sec-one h1 {
          padding-left: 180px;
          font-size: 30px;
     }
     .main-container{
          display: flex;
          justify-content: center;
          align-items: center;
          
     }
     .destination-sec-one .img-container {
          width: 760px;
          margin-top: 140px;
     }
     .bloc-tabs{
          display: flex;
          justify-content:left;
          margin-top: 90px;
     }
     .planet-description{
          text-align: left;
     }
     .planet-description h1 {
          font-size: 100px;
          letter-spacing: 0;
     }
     .planet-description p {
          padding: 20px 64px 30px 0;
          font-size: 18px;
     }
     hr {
          width: 100%;
          margin-right: 40px;
     }
     .physics-info {
          display: flex;
          justify-content: left;
          margin-top: 20px;
     }
     .physics-info h2{
          padding: 16px 16px 16px 0;
          text-align: left;
     }
     .physics-info p {
          text-align: left;
     }
}